@mixin dfjccaic {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfjcsaaic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin dfjcsbaic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin for-phone {
    @media (min-width: 480px) { @content; }
}

@mixin for-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin for-desktop {
    @media (min-width: 1024px) { @content; }
}