@import '../../styles/colors.scss';

header{
    background-color: $header;
    min-width: 1000px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    min-width: 950px;
    position: relative;
    padding: 2rem 0;
    color: $gray;

    .left-menu{

        display: flex;
        align-items: center;
        justify-content: center;
        

        .logo-container{
            width: 40%;
        }
        
    }

    .right-menu{

        width: 28%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 5px;
        right: 0;
        font-size: 13px;

        button{
            color: $gray;
            background-color: $gray2;
            padding: 3px 8px;
        }

        .notify{
            position: relative;
            &-cards{
                &-card, &-card2, &-card3, &-card4, &-card5{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 3px 0;
                    background-color: rgb(16, 33, 54);
                    padding: 5px 10px;
                }
                padding: 5px 10px;
                width: 250px;
                background-color: rgb(19, 46, 80);
                position: absolute;
                color: white;
                height: fit-content;
                min-height: 100px;
                z-index: 1;
                display: none;
                
                &-card div:nth-child(1){
                    display: flex;
                    align-items: center;
                    img{
                        width: 25px;
                        margin-right: 8px;
                        border-radius: 2px solid black !important;
                    }

                    p{
                        font-size: 10px;
                        letter-spacing: 1.5px;
                    }
                }

                &-card2, &-card3, &-card4, &-card5{
                    cursor: pointer;
                }

                &-card2 div:nth-child(1), &-card3 div:nth-child(1), &-card4 div:nth-child(1), &-card5 div:nth-child(1){
                    display: flex;
                    align-items: center;
                    img{
                        width: 25px;
                        margin-right: 8px;
                        border-radius: 2px solid black !important;
                    }

                    p{
                        font-size: 10px;
                        letter-spacing: 1.5px;
                    }
                }

                &-card2:hover, &-card3:hover, &-card4:hover, &-card5:hover{
                    background-color: rgb(19, 37, 59);
                }

                &-card2:active, &-card3:active, &-card4:active, &-card5:active{
                    background-color: rgb(13, 23, 36);
                }

                &-card div:nth-child(2){
                    background-color: rgb(67, 99, 20);
                    padding: 5px 10px;
                    a{
                        font-size: 11px;
                        letter-spacing: 1.5px;
                    }
                }

                &-card div:nth-child(2):hover{
                    background-color: rgb(117, 170, 39);
                    cursor: pointer;
                }
            }
            
        }

        .notify:hover .notify-cards{
            display: block;
        }

        .notify button{
            color: $gray;
            background-color: $green;
            padding: 3px 8px;
        }

        button:hover{
            color: $white;
        }

        


        .notify button:hover{
            color: $white;
        }

        
        

        a{
            text-decoration: none;
            color: $gray;
        }

        a:hover{
            color: $white;
        }

        img{
            border: 1px solid rgb(0, 204, 255);
        }

        div:nth-child(3){
            position: relative;
        }

        .saldo{
            
            position: absolute;
            top: 2rem;
            right: 0,5rem;
            width: 200%;
            
            
            
            span{
                padding: 3px 7px;
                background-color: $gray2;
                text-align: center;
            }
        }


    
    }

}



li, a, button{
    text-decoration: none;
}

.nav__links, .dropdown-menu{
    list-style: none;
    
}



.nav__links>li{
    display: inline-block;
    padding: 0px 10px;

}

.nav__links li a{
    color: $gray;
    font-size: 15px;
}

.dropdown-menu{
    display: none;
}

li.dropdown:hover > a{
    color: $white;
}

.dropdown-menu li a{
    font-size: 12px;
}

li.dropdown:hover {

    .dropdown-menu{
        padding: 10px 0;
        display: block;
        z-index: 1;
        position: absolute;
        background-color: $header;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.603);
        width: 15%;

        li{
            padding: 5px 0;
            margin-left: 1rem;
        }

        li:hover a{
            color: $white;
        }
    }
    
}

.nav__links li a:hover{
    color: $white;
}

// .nav__links li a:hover{
//     color: $white;
// }

// .dropdown-menu li{
//     display: none;
//     position: absolute;
//     background-color: salmon;
//     z-index: 1;
// }

// .nav__links li a:hover .dropdown-menu{
//     display: block;
// }



// .dropdown-menu a:hover{
//     background-color: #000;
//     color: $white;
// }






