<main>

    <div class="content">

        <div class="content-left">
            <div class="container">

                <div class="title">
                    <p>SIGN IN</p>
                </div>

                
                <div class="form">
                
                    <div>
                        <label for="account">Steam account name</label>
                        <br>
                        <input class="input" [(ngModel)]="username" type="text" id="account" name="password">
                    </div>
                    
                    <div>
                        <label for="password">Password</label>
                        <br>
                        <input class="input" [(ngModel)]="password" type="password" id="password" name="password">
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="checkBox" [(ngModel)]="check">
                        <label for="checkBox">Remember me on this computer</label>
                    </div>

                    <div>
                        <input id="button" type="submit" (click)="login()" name="submit" value="Sign In">
                    </div>

                </div>
                
                <div>
                    <p style="color: white; text-align: center;">{{error}}</p>
                </div>


                <div class="admin" style="margin: 30px auto; width: 100%; display: flex; justify-content: center;">
                    <a style="text-align: center; text-decoration: none; color: white;" routerLink="/login-admin">Login as Admin !</a>
                </div>

                <div class="unsuspend-request">
                    <p (click)="showSuspendPopUp()">Fill Unsuspend Request</p>
                </div>
                
            </div>
        </div>

        <div class="content-right">
            <div class="container">
                <div class="container-join">
                    <p>Join Steam and discover thousands of games to play.</p>
                </div>
                

                <img src="https://store.cloudflare.steamstatic.com/public/shared/images/login/join_pc.png?v=1" alt="">
            
                <p>It's free and easy to use.</p>
                
                <a routerLink="../register">
                    <div class="container-join-steam">
                        <p>Join Steam</p>
                    </div>
                </a>
                
            </div>
        </div>


    </div>

    <div class="overlay">
        <div class="overlay-suspend">
            <div class="header">
                <div>
                    <p>Fill Unsuspend Request Form</p>
                </div>
                <div class="span">
                    <span (click)="closeSuspendPopUp()">x</span>
                </div>
            </div>

            <div class="body">
                <div>
                    <p>Input Your Username</p>
                </div>
                <div>
                    <input type="text" [(ngModel)]="suspendUsername">
                </div>  
            </div>

            <div class="button" (click)="submitSuspend()">
                <p>Submit</p>
            </div>

            <div class="error2" *ngIf="error2">
                <p style="color: rgb(230, 124, 124); text-align: center;">{{error2}}</p>
            </div>
        </div>
    </div>

</main>