<main *ngIf="game">

    <div class="content">

        <div class="image">
            <img src="../../../assets/Search Picture/{{game?.image}}.jpg" alt="">
        </div>
        
        <div class="content-desc">
            <p>
                THIS GAME MAY CONTAIN CONTENT NOT APPROPRIATE FOR ALL AGES,
                OR MAY NOT BE APPROPRIATE FOR VIEWING AT WORK.
            </p>

            <p style="font-size: 13px;">The developers describe the content like this:</p>  
            <p style="font-size: 14px;">“{{game?.name}} contains strong language, intense violence, blood and gore, as well as nudity and sexual material. ”</p>
            
        </div>

        <div class="content-birthdate">
            <label for="date">Please enter your birth date to continue:</label><br>
            <input type="date" id="date" name="date" [(ngModel)]="date">
        </div>

        <div class="content-submit">
            <div (click)="validateAge()" class="view-page">
                <p>View Page</p>
            </div>

            <div (click)="cancel()" class="cancel">
                <p>Cancel</p>
            </div>

        </div>

        <p style="color: white; text-align: center; font-size: 12px; letter-spacing: 1px;">{{error}}</p>

    </div>


</main>


