
<header>
  
    <div class="header">
      <div class="left-menu">
        <div class="logo-container">
          <img class="logo" style="cursor: pointer;" routerLink="/" src="https://steamstore-a.akamaihd.net/public/shared/images/header/logo_steam.svg?t=962016" alt="" width="60%">
        </div>
        
        <div>
          <nav>
            <ul class="nav__links">
              <li class="dropdown">
                <a href="#">STORE</a>
                <ul class="dropdown-menu">
                  <li><a href="#h">HOME</a></li>
                  <li><a href="#d">DISCOVERY QUEUE</a></li>
                  <li><a href="#w">WISHLIST</a></li>
                  <li><a href="#p">POINTS SHOP</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#">COMMUNITY</a>
                <ul class="dropdown-menu">
                  <li><a href="#h">HOME</a></li>
                  <li><a href="#dis">DISCUSSION</a></li>
                  <li><a href="#work">WORKSHOP</a></li>
                  <li><a routerLink='/market'>MARKET</a></li>
                  <li><a href="#bt">BROADCAST</a></li>
                </ul>
              </li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">SUPPORT</a></li>
            </ul>
          </nav>
        </div>
          
      </div>
  
      <div class="right-menu">
          <div>
            <button>Install Steam</button>
          </div>
          <div>
            <p><a routerLink="/login">login</a></p>
          </div>
          <div>
            <p>|</p>
          </div>
          <div class="language">
            
            <a href="#">language

              <ul class="dropdown-language">
                <li><a href="#ba">English</a></li>
                <li><a href="#ba">Indonesian</a></li>
                <li><a href="#ba">Mandarin</a></li>
                <li><a href="#ba">Japannese</a></li>
                <li><a href="#ba">Russian</a></li>
              </ul>              
            </a>
            
            
          </div>
        </div>
    </div>
    
  </header>
  